{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <div class=console>
  <h3>AWS</h3>
  <div class=awsconsole>
  {% if aws_instances %}
    <p>Running Instances</p>
    <ul class=instances>
    {% for instance in aws_instances %}
      <li><a href={{ url_for('instance_console', instance_id=instance) }}>{{ instance }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    {% if not stack %}
      <p><a href={{ url_for('instance_create') }}>Start a server</a></p>
    {% else %}
    <script>
    function redirect() {
      var redirect_millis = 5000;
      var redirect_url = "{{ url_for('console') }}";
      window.setTimeout(function(){
        console.info('Redirect to ' + redirect_url + ' in ' + redirect_millis + ' milliseconds')
        window.location.replace(redirect_url);
      }, redirect_millis );
    }
    </script>
    <img src={{ url_for('static', filename='ajax-loader.gif') }} onload="redirect();">
    {% endif %}
  {% endif %}

  </div>
  </div>
{% endblock %}
